@use 'variables' as v;
@use 'mixins' as m;

h1, h2, h3 {
    @include m.headings;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
.text-center {
    text-align: center;
}

[class$="__heading"] {
    @include m.nombre-pagina;
}
[class$="__descripcion"] {
    @include m.descripcion-pagina;
}